/* FONT */
#header-text {
    font-family: 'Inter';
    color: white;
}

#header-text h1 {
    font-weight: 800;
    font-size: 43px;
}


#header-text p {
    font-weight: 700;
    font-size: 14px;
}

.search-container input {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #6B7280;
}

.search-container button {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    color: #374151;
}

#start-exploring-message i {
    font-size: 4em;
    color: #DFDDDD;
}

#start-exploring-message p, #error-search-message p {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    color: #DFDDDD;
}

.movie-container {
    font-family: 'Inter';
}

#movie-title {
    font-weight: 500;
    font-size: 18px;
    margin-right: 0.5em;
}

.movie-header i {
    color: #FEC654;
    font-size: 12px;
}

#movie-rating {
    font-size: 12px;
}

.movie-specs p {
    font-weight: 400;
    font-size: 12px;
    color: #111827;
}

#movie-plot-paragraph {
    font-weight: 400;
    font-size: 14px;
    color: #6B7280;
}

/* LAYOUT */
html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    width: 35em;
}

header {
    height: 13em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-image: url('img/movie-posters-wall.png');
    background-size: cover;
    background-position: 25% 25%;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    position: relative;
}

#header-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.search-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3em;
}

.search-container i {
    position: absolute;
    left: 90px;
    color: #6B7280;
}

.search-container input {
    width: 22em;
    height: 2.5em;
    padding-left: 3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border: 1px solid #D1D5DB;
}

.search-container button {
    width: 7.5em;
    height: 2.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 1px solid #D1D5DB;
    cursor: pointer;
}

#start-exploring-message {
    height: 35.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-exploring-message p {

}

#error-search-message {
    display: none;
    height: 35.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 29.5em;
    padding-top: 4em;
    padding-left: 2.75em;
    padding-right: 2.75em;
    height: 35.5em;
    overflow: auto;
}

#movies-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.movie-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #E5E7EB;
}

.movie-poster {
    width: 6.25em;
    height: 10em;
}

.movie-info {
    width: 21.5em;
    height: 9em;
    padding-left: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 1.25em;
}

.movie-header i {
    padding-right: 0.2em;
}

.see-watchlist {
    cursor: pointer;
}

.movie-specs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-to-watchlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.movie-specs p {
    padding-right: 1.25em;
}

.movie-specs i {
    margin-right: 0.25em;
}

#movie-plot-paragraph {
    margin-top: 0;
}